<body class="background1">
<center><h1 class="hello" ><%=p1_name%> Please pick a word for <%=p2_name%> to play hangman with!</h1>
<center><h1 class="hi"><%=p2_name%> You will be guessing <%=p1_name%>'s word!</h1>
	<center>
	<form method="post" action="/secretpassword">
	<input type="password" name="word" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, ' ')">
	<input type="submit">
	<input type="hidden" name="player1" value="<%=p1_name%>">
	<input type="hidden" name="player2" value="<%=p2_name%>">

	

	</form>